<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="RipFlagApp" value="false" />
		<add key="ThemeApp" value="false"/>
		<add key="LufApp" value="C:/users/jaime"/>
		<add key="BatApp" value="D:/scripts/DusHubs/launcher.bat"/>

		<add key="RegeditApp" value="SOFTWARE\VB and VBA Program Settings\LuxOptim\General"/>
		
		<add key="KeyValueApp" value="RipOptimType"/>
		<add key="RipValueApp" value="LUXRIP"/>
		<add key="ChopValueApp" value="LUXCUT"/>
		
		<add key="KeyYieldApp" value="YieldMode"/>
		<add key="RipYieldApp" value="WIDTH_YIELD"/>
		<add key="ChopYieldApp" value="LENGTH_YIELD"/>
	</appSettings>

</configuration>